.boarder {
  -webkit-box-shadow: 0px 0px 153px -42px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 153px -42px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 153px -42px rgba(0, 0, 0, 0.75);
}

img {
  width: 120px;
}
